@media screen and (min-width: 320px) {
    img {
        max-width: 100%;
    }
    .hidden-on-desktop {
        display: flex;
        justify-content: center;
        background-color: lightcyan;
        border: solid 1px lightgrey;
    }
    a {
        display: flex;
        justify-content: center;
        margin: .5em;
        padding: 1em;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    .nav-links>li {
        background-color: lightgrey;
    }
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    body {
        font-family: Arial, sans-serif;
    }

    .sub-section {
        font-style: italic;
    }

    h1, h2 {
        margin-bottom: 0;
    }

    p {
        margin-top: 1em;
    }

    footer > p {
        margin-top: 5em;
    }
    .social {
        max-width: 4.5em;
    }
    #social-media-links ul {
        display: flex;
        justify-content: space-evenly;
    }
}


@media screen and (min-width: 640px) {

    .hidden-on-desktop {
        display: none;
    }
    h1 {
        float: left;
        margin: 1em 0;
    }
    ul, li {
        display: flex;
        float: right;
        margin: 0;
        background: none;
    }
    img {
        width: 100%;
        display: flex;
        float: left;
        clear: left;

    }
    .main {
        float: left;
        max-width: 60%;
    }
    .sub-section {
        float: left;
        max-width: 30%;
        margin-left: 3em;
    }
    footer > p {
        float: left;
    }

}